[user]
	email = federico.ciner@gmail.com
	name = FedericoCiner
[push]
	default = simple
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	helper = netlify
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
